<div class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              About
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              About
            </a>
          </li>
        </ul>
      </nav>

      <a class="logo" href="#">
        <img src="./app/images/logo.svg" alt="logo">
      </a>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">
              Blog
            </a>
          </li>
          <li class="menu__list-item">
            <a href="#" class="menu__list-link">
              Contact
            </a>
          </li>
        </ul>
      </nav>

      <button class="header__burger" type="button">
        <img src="./app/images/burger.svg" alt="burger-menu">
      </button>
    </div>
  </div>
</div>