:root {
	--family-open-sans: 'Open Sans';
	--family-montserrat: 'Montserrat';
	--fs-sm: 16px;
	--fw-bold: 700;
	--fw-semibold: 600;
	--fw-regular: 400;
	--color-black: #363838;
	--color-white: #ffffff;
	--color-default: #5a5a5a;
	--color-gray: #dfdfdf;
}

// 1:13:51
